# Ignore compiled Python files
*.pyc
__pycache__/


# Ignore virtual environment
venv/

# Ignore database files
db.sqlite3

# Ignore logs
logs/

#ignore inteliji files
.idea

#Ignore node modules
node_modules

